@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/identidad');
@import url('https://fonts.cdnfonts.com/css/merriweather-2');

::selection {
  background-color: #2A4044; 
  color: #fafafa;           
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

::-moz-selection {
  background-color: #2A4044;
  color: #fafafa;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.font-script {
    font-family: 'Dancing Script', cursive;
}

.font-identidad {
    font-family: 'Afacad', sans-serif;                                                                                      
}

.font-secondary {
    font-family: 'Merriweather', sans-serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

body, p, h2, h3, h4, h5, h6, span, li, a, small, label, input, textarea, button {
    font-family: 'Identidad', sans-serif;
}

.rich-content h1 {
    font-family: 'Dancing Script', cursive;
}

.rich-content h2 > span,
.rich-content h3 > span,
.rich-content h4 > span,
.rich-content h5 > span,
.rich-content h6 > span {
    font-family: 'Merriweather', sans-serif;
}

.btn-action {
    background-color: #fff;
    border: 1px solid #F6BBA9;
    color: #2A4044;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-action:hover,
.btn-action:focus {
    background-color: #F6BBA9;
    color: #fff;
    text-decoration: none;
}

.btn-action:active {
    background-color: #F6BBA9;
    color: #fff;
    text-decoration: none;
}

.btn-action:disabled {
    background-color: #F6BBA9;
    color: #fff;
    text-decoration: none;
}

.btn-action-dark {
    background-color: transparent;
    border: 1px solid #F6BBA9;
    color: #F6BBA9;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-action-dark:hover,
.btn-action-dark:focus {
    background-color: #F6BBA9;
    color: #2A4044;
    text-decoration: none;
}

.btn-action-dark:active {
    background-color: #F6BBA9;
    color: #2A4044;
    text-decoration: none;
}

/* Suavizar la curva de animación */
.faq-content {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.z-90 {
    z-index: 90;
}

/* .prose h3 span {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
} */