@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/identidad');
@import url('https://fonts.cdnfonts.com/css/merriweather-2');

.font-script {
    font-family: 'Dancing Script', cursive;
}

.font-identidad {
    font-family: 'Afacad', sans-serif;                                                                                      
}

.font-secondary {
    font-family: 'Merriweather', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', cursive;
}

body, p, span, li, a, small, label, input, textarea, button {
    font-family: 'Identidad', sans-serif;
}